.content__Wrap,
.benefits {
    display: flex;
    flex-direction: column;
}

.content__Wrap {
    gap: 1.5rem;
}

.header {
    font-family: var(--mako-font);
    text-transform: capitalize;
}

.benefits {
    gap: 0.75rem;
    text-transform: capitalize;
}

.benefits li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    font-size: 0.875rem;
}