.content__Wrap {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    font-family: var(--mako-font);
}

.styles__Wrap {
    position: relative;
    width: 100%;
    max-height: 400px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.style__Item__Detail {
    position: relative;
    display: inline-block;
    width: max-content;
    height: max-content;
}

.style__Item__Detail:not(:first-child) {
    margin-left: 1.5rem;
}

.style__Image {
    width: 500px;
    height: 370px;
    object-fit: cover;
    border-radius: 24px;
}

.mask {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.style__Name {
    font-family: var(--mako-font);
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
    .content__Wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .style__Image {
        width: 400px;
        height: 280px;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .content__Wrap {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}