.stats__Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (max-width: 767px) {
    .stats__Wrap {
        flex-direction: column;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .stats__Wrap {
        flex-wrap: wrap;
    }
}