.hero__Wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero__Content__Wrap,
.header__Content {
    display: flex;
    flex-direction: column;
}

.hero__Content__Wrap {
    gap: 3rem;
}

.header__Content {
    gap: 1rem;
}

.header {
    font-family: var(--mako-font);
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    animation: fadeInFromTop 1.4s ease-in-out;
    text-transform: capitalize;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        top: -120px;
    } to {
        opacity: 1;
        top: 0;
    }
}

@media screen and (max-width: 767px) {
    .hero__Wrap {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 4rem;
    }
    
    .header {
        font-size: 1.8rem;
        width: 100%;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .hero__Wrap {
        flex-direction: column;
    }

    .header {
        width: 90%;
    }
}