.content__Wrap {
    padding: 12rem 3rem;
    position: relative;
    width: 100%;
}

.img__Content {
    max-width: 100%;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
}

.img__Content.i_main {
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    width: 20rem;
    height: 20rem;
}

.img__Content.i_1 {
    left: 0;
    top: 5%;
    width: 8rem;
    height: 8rem;
}

.img__Content.i_2 {
    left: 12%;
    top: 30%;
    width: 10rem;
    height: 10rem;
}


.img__Content.i_3 {
    right: 26%;
    top: 30%;
    width: 14rem;
    height: 14rem;
}

.img__Content.i_4 {
    right: 11%;
    top: 6%;
    width: 10rem;
    height: 10rem;
}

.img__Content.i_5 {
    right: 0;
    top: 50%;
    width: 8rem;
    height: 8rem;
}

@media screen and (max-width: 767px) {
    .img__Content.i_main {
        transform: translate(-50%, -50%);
    }

    .img__Content.i_1,
    .img__Content.i_2,
    .img__Content.i_3,
    .img__Content.i_4,
    .img__Content.i_5 {
        display: none;
    }
}