.content__Wrap {
    padding: 5rem 0 3rem;
    /* position: relative; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img__Content {
    border-radius: 50%;
    /* position: absolute; */
    object-fit: cover;
    width: 20%;
    max-height: 20rem;
    position: relative;
}

.img__Content.i_main {
    top: -4rem;
}

.img__Content.i_2,
.img__Content.i_3 {
    top: 4rem;
}

@media screen and (max-width: 767px) {
    .content__Wrap {
        padding: 0;
    }

    .img__Content {
        width: 100%;
        max-height: 26rem;
    }

    .img__Content.i_main {
        top: 0;
    }

    .img__Content.i_1,
    .img__Content.i_2,
    .img__Content.i_3,
    .img__Content.i_4,
    .img__Content.i_5 {
        display: none;
    }
}