.page__Wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 2rem;
    padding: 2rem 2rem 5rem;
    overflow-y: auto;
}

.user__Stats {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.other__Insights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user__Stats > section:first-child {
    flex: 0.65;
}

.user__Stats > section:last-child {
    flex: 0.35;
}

@media screen and (max-width: 767px) {
    .page__Wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .user__Stats {
        flex-direction: column;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .user__Stats {
        flex-direction: column;
    }
}