* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--poppins-font);
  scrollbar-width: thin;
}

:root {
  --primary-app-color: #08a7f8;
  --open-day-highlight: #28a745;
  --red-color: #ff3434;
}

a {
  color: inherit;
  text-decoration: none;
}
