.grid__Imgs {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.image {
    width: 27.5vw;
    object-fit: cover;
    animation: fadeIn 0.5s ease-in-out;
}

.image.main {
    width: 45vw;
}

.btn {
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn.left {
    left: 1rem;
}

.btn.right {
    right: 1rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .image.main {
        width: 75vw;
    }

    .image {
        width: 12.5vw;
    }
}