.nav__Wrapper,
.nav__Actions {
    display: flex;
    align-items: center;
}

.nav__Wrapper {
    padding: 1.5rem 2rem;
    justify-content: space-between;
}

.logo {
    object-fit: cover;
}

.nav__Actions {
    gap: 1.8rem;
}

.btn {
    font-size: 0.875rem;
}

.add__Btn {
    background-color: var(--primary-app-color);
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .nav__Wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .nav__Wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}