.footer {
    background-color: #f0f8ff;
    padding: 5rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__Wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header {
    font-family: var(--mako-font);
    font-size: 1.1rem;
    letter-spacing: 0.01em;
}

.logo__Subtitle {
    font-size: 0.85rem;
    text-transform: capitalize;
}

.logo__Wrap,
.footer__Content__Wrap,
.footer__Links {
    display: flex;
    flex-direction: column;
}

.footer__Content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 0.5;
}

.logo__Wrap {
    gap: 1rem;
    flex: 0.5;
}

.logo {
    object-fit: cover;
}

.footer__Content__Wrap {
    gap: 1rem;
}

.footer__Links {
    list-style: none;
    gap: 0.75rem;
    font-size: 0.85rem;
    text-transform: capitalize;
}

.footer__Links.no__Transform {
    text-transform: none;
}

.footer__Icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__Icon {
    width: 2rem;
    height: 2rem;
    max-width: 100%;
    object-fit: cover;
}

.copyright__Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright__Content {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.7rem;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer__Wrapper,
    .footer__Content,
    .copyright__Wrap {
        flex-direction: column;
    }
    
    .footer__Wrapper {
        gap: 3rem;
    }

    .footer__Content {
        flex: 1;
        gap: 3rem;
    }

    .logo__Subtitle,
    .footer__Links {
        font-size: 0.75rem;
    }

    .copyright__Wrap {
        gap: 0.4rem;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        flex-direction: column;
        gap: 3rem;
    }

    .footer__Content {
        flex: 1;
        justify-content: space-between;
        width: 100%;
    }
}