.content__Wrap {
    padding: 2rem 4rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.header {
    font-family: var(--mako-font);
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.bookings {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.bookings > * {
    width: calc(calc(100% / 2) - 1rem);
}

@media screen and (max-width: 767px) {
    .content__Wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .bookings > * {
        width: 100%;
    }
}