.item__Wrap,
.items__List {
    display: flex;
    flex-direction: column;
}

.item__Wrap {
    gap: 0.6rem;
}

.title {
    font-size: 0.85rem;
    text-transform: capitalize;
}

.items__List {
    gap: 0.75rem;
}

.single__List__Item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.single__List__Item > * {
    max-width: 23%;
}

.mob__Add__Title {
    display: none;
}

@media screen and (max-width: 767px) {
    .single__List__Item {
        flex-direction: column;
    }

    .single__List__Item > * {
        max-width: unset;
    }

    .del__Icon {
        display: none;
    }

    .mob__Add__Title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.6rem;
        width: max-content;
        color: #808080;
        margin-left: auto;
        cursor: pointer;
    }

    .items__List {
        gap: 2rem;
    }
}