.profile__Wrap,
.user__Info {
    display: flex;
    align-items: center;
}

.profile__Wrap {
    justify-content: space-between;
    font-size: 0.875rem;
}

.user__Info {
    gap: 0.75rem;
    text-transform: capitalize;
}